# The previously used image:
# image: registry.gitlab.com/yade-dev/docker-yade
#
# Five new images:
# image: registry.gitlab.com/yade-dev/docker-yade:ubuntu16.04-py3
# image: registry.gitlab.com/yade-dev/docker-yade:ubuntu18.04
# image: registry.gitlab.com/yade-dev/docker-yade:debian-stretch
# image: registry.gitlab.com/yade-dev/docker-yade:debian-buster
# image: registry.gitlab.com/yade-dev/docker-yade:suse15
#
# Useful link to validator: https://gitlab.com/yade-dev/trunk/-/ci/lint


stages:
  - debpackages

# If you want to compile everything also on merge_request, change this template.
# If you want to compile on one platform see [1] note below.
.plaftorms_template: &platforms_definition
  only:
    - branches


# image: registry.gitlab.com/yade-dev/docker-yade:ubuntu18.04
# 6.1. build debian packages
.debpackages_template: &debpackages_definition
  <<: *platforms_definition
  stage: debpackages
  script:
    - git merge origin/master
    - rm -f ../yadedail*
    - ls -l
    - ls -l ..
    - apt-get update
    - apt-get -y build-dep .
    - tar cfJ ../yadedaily_2019.01a-1ubuntu1.orig.tar.xz  --exclude "debian" --exclude ".git" .
    - dpkg-buildpackage -j8
#    - gbp buildpackage --git-ignore-branch --git-ignore-new --git-debian-branch=feature/dailypackages --git-upstream-tree=origin/master --git-verbose --no-sign

debpackages_18_04:
  <<: *debpackages_definition
  image: registry.gitlab.com/yade-dev/docker-yade:ubuntu18.04
